.store-wrapper {
    width: 100%;
    background: gray;
    margin-right: 10px;
}

.md {
    width: 500px;
    height: 500px;
    // border: 1px solid white;   
    // cursor: pointer;
    background: url(../../../../public/assets/panel/Popup007_Blue.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.md-event {
    border: 1px solid white;
}

.modal-md-img img {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}