//body
body {
    color: black !important;
}


//헤더
.CSHeader div {
    background-image: url("../../solarsystem/img/Tip001Blue.png");
    
    //햄버거 버튼 
    .header-menubar svg {
        color: black !important;
    }
    .typography-cs {
        background: none;
    }
}