//전체 배경화면
body {
    background-color: black;
    color: white;
    height: 100%;
}

//테이블 세부사항
.News-board {
    text-align: center;

    .News-table {
        flex-direction: column;
        font-size: large;
        padding: 5%;
        border: none;

        th {
            border: none;
        }

        thead,tr,td {
            padding: 2%;
            border-collapse: collapse;
            border: none;
        }

        .News-tbody {
            cursor: pointer;
        }
    
        
        .News-tbody:nth-child(even) {
            background-color: #ffffff;
            color: #1976d2;
        }

        .News-tbody:nth-child(odd) {
            background-color: black;
            color: 
            #b3c9ef;
        }

    
        
    }
}

//표 칸 (사진 칸 조정)
.td-photo {
    width: 450px;
}


