//폰트
@font-face {
    font-family: "Orbitron-Bold";
    src: url("../../../../public/assets/fonts/Orbitron-Bold.woff2");
    font-style: normal;
 }

//전체 배경화면
body {
    background-color: black;
    color: white;
    height: 100%;
}

//검색창

//테이블 세부사항
.News-board {
    text-align: center;

    .News-table {
        flex-direction: column;
        font-size: 12px;
        padding: 3%;
        border: none;

        th {
            border: none;
            font-family: 'Orbitron-Bold' !important;
            font-size: 15px;
        }

        thead,tr,td {
            padding: 2%;
            border-collapse: collapse;
            border: none;
            font-family: 'Orbitron-Bold';
        }

        td {
            border-top: 1px solid white;
            border-bottom: 2px solid white;
        }

        #News-tbody {
            cursor: pointer;
        }
    
        
        #News-tbody:nth-child(even) {
            background-color: #ffffff;
            color: #1976d2;
        }

        #News-tbody:nth-child(odd) {
            background-color: black;
            color: 
            #b3c9ef;
        }

    
        
    }
}

//각 테이블 속성 (가로 크기 조정)
.td-photo {
    width: 400px;
}

.td-title {
    font-size: 17px;
}

.td-date {
    width: 150px;
}


