.planet-content-box {
    /* display: none; */
    width: 25%;
    height: 70%;
    background: rgba(148, 191, 247, 0.9);
    position: absolute;
    right: 1%;
    top: 17%;
    border-radius: 10px;
    overflow-y: scroll;  
    
    .content {
      padding: 10%;
      color: white;    
    }
  }

.left-planet-content-box {
    /* display: none; */
    width: 25%;
    height: 70%;
    background: rgba(148, 191, 247, 0.9);
    position: absolute;
    left: 1%;
    top: 17%;
    border-radius: 10px;
    overflow-y: scroll;  
    
    .left-content {
      padding: 10%;
      color: white;    
    }
  }
  