//전체 배경화면
body {
    background: black;
    // background-image: url("../img/galaxy.gif");
    // background-size: cover;
    

//폰트
@font-face {
    font-family: "Orbitron-Bold";
    src: url("../../../../public/assets/fonts/Orbitron-Bold.woff2");
    font-style: normal;
 }
}

//startPage background img

.main-start-img {
    width: 100%;
    height: 3%;
    overflow: hidden;
    
    .start-page-body {
        width: 104%;
        height: 660px;
        overflow: hidden;
        
    }

}


//Welcome 글씨
.welcome-img {
    width: 45%;
    padding: 1%;
    z-index: 1;
}


//버튼 집합들
.setBtn {
    border: 0;
    outline: 0;
    padding: 10px;
    margin-left: 20px;
    //margin-top: 10%;
    z-index: 1;
    

    .start-btn {
        border: 0;
        outline: 0;
        background: none;
        background-image: url("../../../../public/assets/button/Btn05Blue_p.png");
        background-size: cover;
        font-family: 'Orbitron-Bold' !important;
        font-size: 50px;
        color: white;
        max-width: 1920px;
        width: 22%;
        height: 200px;
        cursor: pointer;
        position: absolute;
        margin-top: 5%;
        margin-left: 3%;
    }

    .start-btn:hover {
        opacity: 80%;
        color: #E91E63;
    }
    
    .join-btn {
        border: 0;
        outline: 0;
        background: none;
        background-image: url("../../../../public/assets/button/Btn05Blue_p.png");
        background-size: cover;
        font-family: 'Orbitron-Bold' !important;
        font-size: 50px;
        color: white;
        max-width: 1920px;
        width: 22%;
        height: 200px;
        cursor: pointer;
        //margin-left: 2%;
        position: absolute;
        margin-top: 15%;
        margin-left: 3%;
    }
    
    .join-btn:hover {
        opacity: 80%;
        color: #E91E63;
    }
    
}
