//============={Header}==============
.MainHeader {
   width: 100%;
 }
 
 //헤더 전체 영역
 .menu {
    max-width: 1920px;
    margin: 0 auto;
    background-image: url("../../solarsystem/img/Tip001Blue.png");
    background-size: 100% 100%;
    height: 130px;
 }

 //메뉴 버튼 집합체
 .menuBtn{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 100%;

 }

//{헤더 버튼들}
.mainBtn button{
   border: 0;
   outline: 0;
   cursor: pointer;
   color: white;
   padding: 50px;
   font-size: 25px;
   margin-bottom: 5px;
   background: url("../../solarsystem/img/Btn07Blue_p.png") no-repeat;
   background-size: 240px 100px; 
   background-position: center;
   width: 240px; 
}

//{news 버튼}
.newsBtn button{
   border: 0;
   outline: 0;
   cursor: pointer;
   color: white;
   padding: 50px;
   font-size: 25px;
   margin-bottom: 5px;
   background: url("../../solarsystem/img/Btn07Blue_p.png") no-repeat;
   background-size: 240px 100px; 
   background-position: center;
   width: 240px;
}

//{horoscope 버튼}
.hsBtn button{
   border: 0;
   outline: 0;
   cursor: pointer;
   color: white;
   padding: 50px;
   font-size: 25px;
   margin-bottom: 5px;
   background: url("../../solarsystem/img/Btn07Blue_p.png") no-repeat;
   background-size: 240px 100px; 
   background-position: center;
   width: 240px;
}

//{store 버튼}
.storeBtn button{
   border: 0;
   outline: 0;
   cursor: pointer;
   color: white;
   padding: 50px;
   font-size: 25px;
   margin-bottom: 5px;
   background: url("../../solarsystem/img/Btn07Blue_p.png") no-repeat;
   background-size: 240px 100px; 
   background-position: center;
   width: 240px;
}

//-------------logBtn-------------
.profile-icon,
.locked,
.lock-open,
.shop-basket {
   cursor: pointer;
   margin-top: 5px;
   color: #2196F3;
}