//=========={Header}===========
.MainHeader {
   width: 100%;
 }
 
 //헤더 전체 영역
 .menu {
    max-width: 1920px;
    margin: 0 auto;
    background-image: url("../../solarsystem/img/Tip001Blue.png");
    background-size: 100% 100%;
    height: 130px;
 }

 //메뉴 버튼 집합체
 .menuBtn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

 }

//버튼 각각의 속성
 .menuBtn button{
    border: 0;
    outline: 0;
    cursor: pointer;
    background: none;
    color: white;
    padding: 50px;
    font-size: 25px;
    margin-bottom: 5px;
    background: url("../../solarsystem/img/Btn07Blue_p.png") no-repeat;
    background-size: cover;
    width: 14%;
    height: 10%;
    opacity: 50%;
    line-height: 10%;
 }

//메뉴 버튼 효과
 .menuBtn button:hover {
    opacity: 100%;
 }

 //로그인, 로그아웃, 회원가입 버튼

 .logInBtn {
   background: url("../img/Icon_Password.png") no-repeat;
   background-size: cover;
   // border: 0;
   // outline: 0;
 }

 .logOutBtn {
   background: url("../img/Icon_Locked.png") no-repeat;
   background-size: cover;
   // border: 0;
   // outline: 0;
 }

 .JoinBtn {
   background: url("../img/Icon_User-plus.png")no-repeat;
   background-size: cover;
   // border: 0;
   // outline: 0;
 }
 