@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: 'PyeongChangPeace-Bold';
    overflow-y: scroll;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.planet-content-box {
    /* display: none; */
    width: 25%;
    height: 70%;
    background: rgba(148, 191, 247, 0.9);
    position: absolute;
    right: 1%;
    top: 15%;
    border-radius: 10px;
    overflow-y: scroll;  
  }
  
  .planet-content-box .content {
    padding: 6%;
    color: white;    
  }